<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

    <!-- Main Content -->
    <h3 align="center">
        <p>Leave your contact details here</p><br>
        <form action="/">
        <label for="fname">First Name: </label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last Name:&nbsp;</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="cno">Phone:</label>
        <input type="text" id="cno" name="cno"><br><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" id="submit" name="submit">
        </form>
<%- include partials/bottom_nav.ejs %> 
  
<%- include partials/footer.ejs %> 