<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Projects</h1>
        <ul style="list-style-type:none;">
            <li><img src="Assets/images/testing.png" class="rounded float"  style="width:40%"> </li>
            
            <li><img src="Assets/images/app.png" class="rounded float" style="width:40%"></li>
        </ul>
      </div>
    </main>
<%- include partials/bottom_nav.ejs %> 
  
<%- include partials/footer.ejs %> 