<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Services</h1>
        <ul>
            <li>C# Application</li>
            <li>Java Application</li>
            <li>Web Development</li>
        </ul>
      </div>
    </main>
<%- include partials/bottom_nav.ejs %> 
  
<%- include partials/footer.ejs %> 